* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1rem;
  background-color: #212121;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100%;
  /* dynamic view height might not be consistent for all browsers, going to look into that and the end */
}

/* Disables the blue border on the map */
.gm-style iframe + div {
  border: none !important;
}

a {
  text-decoration: none;
  color: #fff;
}

/* SEARCH BAR */

.search-bar {
  width: 100%;
  background-color: #14161a;
  color: #0088ff;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 0 0.75rem;
  border-bottom: 2px solid black;
  justify-content: space-between;
  z-index: 0;
}

.search-bar .icon {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

.search-bar a {
  color: #0088ff;
}

.search-bar-text {
  cursor: pointer;
}

/* SEARCH FILTERS  */

.search-filters {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #14161a;
  color: #fff;
  padding: 1rem;
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.4s;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-header .icon {
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

.filter-header p {
  text-decoration: underline;
  cursor: pointer;
}

.options-main-category {
  margin-top: 5.5rem;
}

.options-main-category h2 {
  margin-left: 1rem;
}

.options-main-category-categories {
  width: 100%;
  background-color: black;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.category-box {
  display: block;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0 1rem;
  border: 1px solid #fff;
  background-color: #14161a;
  cursor: pointer;
  color: #fff;
}

.category-box p {
  color: #fff;
}

.get-current-location {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.get-current-location .button {
  background-color: #d2d2d2c1;
  width: 50px;
  height: 25px;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}

.get-current-location .button::before {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 22.5px;
  height: 22.5px;
  border-radius: 50px;
  margin: 1px;
  transition: 0.2s;
}

.get-current-location input:checked + .button {
  background-color: #0088ff;
}

.get-current-location input:checked + .button::before {
  transform: translateX(25px);
}

.get-current-location input {
  display: none;
}

/* SPOTS AND NAVIGATION */

.spots {
  background-color: #fff;
  width: 100%;
  z-index: 1;
  position: fixed;
  bottom: 0;
}

.navigation {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  z-index: 2;
  background-color: #14161a;
  border-top: 2px solid black;
  color: #0088ff;
}

.nav-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 0.8rem;
  padding-top: 0.75rem;
}

.nav-element .icon {
  font-size: 1.35rem;
}
.nav-element p {
  margin-top: 0;
}

.nav-element a {
  color: #0088ff;
  text-align: center;
}

/* SPOT DETAIL */

.spot-detail {
  flex: 1;
  background-color: #14161a;
  color: #fff;
  overflow-y: scroll;
  transition: opacity 0.5s;
}

.spot-detail-wrapper {
  height: 35%;
  position: relative;
  overflow: hidden;
}

.spot-detail-carousel {
  display: flex;
  height: 100%;
  transform: translateX(0%);
  transition: transform 0.4s ease-in-out;
}

.spot-detail-img {
  min-width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.spot-detail-btn {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: #14161a;
  color: #0088ff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.5rem;
}

.spot-detail-img-btn {
  position: absolute;
  top: 0;
  margin: 1rem;
}

.spot-detail-controlls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  padding: 1rem;
}

.padding-container {
  padding: 0rem 1rem;
}

.spot-detail-name {
  font-weight: 400;
  margin-bottom: 0;
}

.spot-detail-info {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.spot-detail-info-el {
  border-top: 1px solid black;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
}

.spot-detail-info-el:last-of-type {
  border-bottom: 1px solid black;
}

.spot-detail-info-el .downArrow {
  margin-left: 1rem;
}

.spot-detail-info-el .website-link {
  text-decoration: underline;
}

.opening-hours {
  font-size: 0.9rem;
  padding-left: 4rem;
}

.opening-hours span {
  width: 90px;
}

.spot-detail-info p {
  margin: 0;
  font-size: 0.95rem;
}

.spot-detail-info .icon {
  text-align: center;
  font-size: 1.35rem;
  min-height: 32px;
  min-width: 32px;
  margin-right: 1rem;
  color: #0088ff;
}

.spot-detail-info .icon-pink {
  color: #fa507d;
  align-self: flex-start;
}

.note-content {
  margin-top: 0.25rem;
  word-break: break-word;
}

.note-edit {
  margin-top: 0.25rem;
  cursor: pointer;
  color: #0088ff;
  font-weight: 500;
}

.friend-favourited {
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.friend-favourited-header {
  display: flex;
  gap: 1rem;
}

.friend-favourited-header-img {
  height: 32px;
  width: 32px;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
}

.friend-favourited-note {
  margin-top: 0.5rem;
}

.spot-detail-reviews {
  padding: 1rem;
  margin-bottom: 2rem;
}

.spot-detail-reviews h2 {
  margin-top: 0;
}

.review-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.review-header img {
  height: 32px;
  width: 32px;
  margin-right: 1rem;
}

.review-header .icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.review-stars {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
}

.review-date {
  background-color: #0088ff;
  border-radius: 0.25rem;
  padding: 0 0.2rem;
  margin-left: 0.5rem;
  color: #14161a;
}

.spot-detail-review-el {
  margin-bottom: 1.5rem;
}

.spot-detail-footer {
  position: fixed;
  width: calc(100% - 5px);
  bottom: 0;
  left: 0;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-around;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #14161a;
  border-top: 2px solid black;
}

.spot-detail-footer div {
  background-color: #0088ff;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: #fff;
  font-size: 0.85rem;
}

.spot-detail-footer .add-favorite-btn {
  border: 1px solid #fa507d;
  color: #fa507d;
  background-color: #14161a;
}

.spot-detail-footer .add-favorite-btn-2 {
  background-color: #fa507d;
  border: 1px solid #fa507d;
}

/* SPOTLISTS */

.spotlists {
  height: calc(100dvh - 75px);
  overflow: auto;
  padding: 0 1rem;
}

.spotlists-header {
  font-size: 2rem;
  font-weight: 500;
  margin: 2rem 0;
  color: #fff;
}

.spotlists-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.spotlists-el {
  display: grid;
  grid-template-columns: 50% auto 44px;
  color: #fff;
  width: 100%;
}

.spotlists-thumbnail {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  background-size: cover;
  background-position: center;
}

.spotlists-spot-count {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 0.75rem;
}

.spotlists-info {
  text-wrap: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  overflow: hidden;
  padding-left: 0.5rem;
}

.spotlists-info p {
  margin: 0;
  font-size: 0.85rem;
  opacity: 0.8;
  font-weight: 300;
}

.spotlists-menu-button {
  position: relative;
  background: none;
  border: none;
  color: #aaa;
  font-size: 1.5rem;
  padding: 8px;
  cursor: pointer;
  margin-bottom: auto;
  border-radius: 100%;
}

.spotlists-menu-button:hover,
.spotlists-options-popup .options-item:hover {
  background-color: #4b4b4b;
  cursor: pointer;
}

.spotlists-options-popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 250px;
  right: 2rem;
  margin-top: 2.7rem;
  z-index: 2;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

.spotlists-options-popup .options-item {
  display: flex;
  place-items: center;
  height: 49px;
  width: 100%;
  text-align: left;
  font-size: 1rem;
  padding-left: 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  gap: 1rem;
}

/* ADD NOTE */

.add-note-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: calc(100% - 2rem);
  max-width: 385px;
  background-color: #282828;
  color: #fff;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-note-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.35rem;
}

.add-note-header .close-button {
  background-color: #282828;
  color: #fff;
  padding: 0;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.add-note-textarea {
  margin-top: 1.5rem;
  width: 100%;
  height: 90px;
  padding: 0.5rem;
  font-size: 1rem;
  outline: none;
  font-family: "Roboto", sans-serif;
  resize: none;
}

.add-note-textarea:focus {
  border: 1px solid #0088ff;
}

.add-note-btn {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  align-self: flex-end;
  font-size: 1.1rem;
  color: #0088ff;
  border-radius: 1rem;
  cursor: pointer;
  background-color: #282828;
  border: none;
  transition: all 0.2s;
}

.add-note-btn:hover {
  background-color: #444;
}

/* ADD TO SPOTLIST */

.spotlist-add-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: calc(100% - 2rem);
  max-width: 385px;
  max-height: 430px;
  background-color: #282828;
  color: #fff;
  border-radius: 1rem;
  padding: 1rem 0rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spotlist-add-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  font-size: 1.15rem;
}

.spotlist-add-header .close-button {
  background-color: #282828;
  color: #fff;
  padding: 0;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.spotlist-add-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0rem;
  height: 100%;
  padding-left: 2rem;
  overflow: hidden;
  overflow-y: auto;
}

.spotlist-add-list-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding-right: 2rem;
}

.spotlist-add-checkbox {
  all: unset;
  display: inline-block;
  min-width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px; /* Rounded corners */
  position: relative;
  transition: background-color 0.2s, border-color 0.2s;
  cursor: pointer;
}

.spotlist-add-checkbox:checked {
  background-color: #007bff;
  border-color: #007bff;
}

.spotlist-add-checkbox:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 14px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -55%) rotate(45deg);
  transform-origin: center;
}

.spotlist-add-list-item label {
  width: 100%;
  margin-left: 1rem;
}

.spotlist-btn {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin: 0 2rem;
  height: 40px;
  padding: 1rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.2s;
}

.spotlist-add-new-btn {
  background-color: #626262;
}

.spotlist-add-new-btn:hover {
  background-color: #4b4b4b;
}

.spotlist-add-to-btn {
  margin-top: 0.5rem;
  background-color: #0088ff;
}

.spotlist-add-to-btn:hover {
  background-color: #0056b3;
}

.spotlist-shade {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.5;
}
/* CREATE NEW SPOTLIST */

.spotlist-create-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: calc(100% - 2rem);
  max-width: 320px;
  background-color: #282828;
  color: #fff;
  border-radius: 1rem;
  padding: 1rem 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spotlist-create-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 1.5rem;
}

.spotlist-create-header .close-button {
  background-color: #282828;
  color: #fff;
  padding: 0;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.spotlist-create-input label,
.spotlist-create-visibility label {
  display: block;
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

.spotlist-create-visibility option {
  padding: 1rem;
}

.spotlist-create-container input,
.spotlist-create-container select {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  border: none;
  background-color: #404040;
  color: #fff;
  outline: none;
}

.spotlist-create-btn {
  background-color: #0088ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

/* MAP */

.map-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.map {
  flex: 1;
}

.map-results {
  flex: 1;
  height: 50%;
  background-color: #14161a;
  color: #fff;
  display: grid;
  grid-template-rows: 110px auto;
}

.map-results-header {
  display: grid;
  grid-template-columns: auto 30px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 0.25rem 1rem;
  border-bottom: 2px solid #000;
  background-color: #14161a;
}

.map-results-header h2 {
  margin: 0;
  font-weight: 400;
}

.map-results-btn {
  border-radius: 100%;
  border: none;
  height: 30px;
  width: 30px;
  background-color: #14161a;
  border: #0088ff 2px solid;
  color: #0088ff;
  cursor: pointer;
}

.map-results-sort {
  display: flex;
  align-items: center;
}

.sort-option {
  margin-right: 1rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  background-color: #14161a;
  border: 1px solid #0088ff;
  color: #0088ff;
  cursor: pointer;
}

.map-results-sort .active {
  background-color: #0088ff;
  color: #14161a;
  font-weight: 500;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.map-result {
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: 70% 30%;
  transition: background-color 0.2s;
}

.highlight {
  background-color: #212121;
}

.all-map-results {
  overflow-y: auto;
}

.map-result-name {
  font-size: 1.15rem;
  font-weight: 500;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.map-result-open {
  color: #188038;
  font-weight: 500;
}

.map-result-closed {
  color: #d5372f;
  font-weight: 500;
}

.map-result-details {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 108px;
}

.map-result-details button {
  height: 30px;
  border: 1px solid #0088ff;
  color: #0088ff;
  background-color: #14161a;
  border-radius: 0.5rem;
  cursor: pointer;
}

.no-results {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.current-location {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #0088ff;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Fancy Slider */

.slideContainer {
  width: 100%;
  margin-top: 2rem;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: linear-gradient(90deg, #0088ff 60%, rgb(214, 214, 214) 60%);
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 12px;
  box-shadow: 0px 1px 10px 1px black;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-webkit-slider-thumb,
.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.slider-values-label {
  display: flex;
  justify-content: space-between;
}

.slider-values-label p {
  padding: 0;
  margin: 0;
}

.search-spots-btn {
  width: 100%;
  height: 50px;
  background-color: #0088ff;
  border: none;
  color: #14161a;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

/* LOADING SPINNER */

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #14161a;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #0088ff;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.custom-marker-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.custom-marker {
  background-color: #0088ff;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  position: relative;
  align-self: flex-start;
  cursor: pointer;
  transition: font-size 0.15s;
}

.custom-marker:hover {
  font-size: 1rem;
}

.custom-marker::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #0088ff;
}

.highlighted-marker {
  font-size: 1rem;
  border: 2px solid #0088ff;
  background-color: #14161a;
  color: #0088ff;
}

.custom-marker-label {
  cursor: pointer;
  margin-top: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  color: #fff;
  font-size: 0.9rem;
}

/* Custom Styles For Developemtn */

/* Scroll Bar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

/* ACCOUNT SECTION */

.login-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #fff;
}

.login-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.form-group label {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #444;
  background-color: #333;
  color: #fff;
}

.form-group input::placeholder {
  color: #888;
}

.form-group input:focus {
  outline: none;
  border-color: #007bff;
}

.login-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.login-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: #ff4d4f;
  font-size: 14px;
  margin-bottom: 15px;
}

.form-footer {
  margin-top: 1rem;
}

.form-footer a {
  color: #0088ff;
  text-decoration: underline;
}

/* ACCOUNT */

.account-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-photo {
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50%;
  border: 2px solid #0088ff;
  overflow: hidden;
}

.account-photo img {
  object-fit: cover;
}

.account-name {
  margin-top: 1rem;
  font-size: 2rem;
}

.account-settings {
  margin-top: 1rem;
  font-size: 1.5rem;
  align-self: flex-start;
}

.account-settings-el {
  width: 100%;
  font-size: 1.15rem;
  text-align: left;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

/* SETTINGS */

.settings-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.settings-header {
  font-size: 1.5rem;
}

.settings-text {
  margin-top: 1rem;
  font-size: 1.75rem;
}

.settings-form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form__photo-upload {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 1.6rem;
}

.form__user-photo {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 1px solid #0088ff;
  margin-right: 1rem;
  overflow: hidden;
}

.form__photo-upload input {
  display: none;
}

.form__photo-upload label {
  font-size: 1rem;
  text-decoration: underline;
  cursor: pointer;
}

.settings-form .btn {
  margin-bottom: 1rem;
  width: 200px;
  height: 50px;
  background-color: #0088ff;
  border: none;
  font-size: 1.25rem;
  border-radius: 5rem;
  color: #fff;
  align-self: flex-end;
  cursor: pointer;
}

/* ALERTS */

.alert {
  position: fixed;
  display: flex;
  align-items: center;
  top: 50px;
  right: -60%;
  width: 60%;
  height: 50px;
  z-index: 999;
  text-align: left;
  padding-left: 0.5em;
  color: #fff;
  background-color: #14161a;
  border-radius: 0.25rem 0 0 0.25rem;
  transition: all 0.5s ease-in-out;
}

.alert.show-alert {
  right: 0;
}

.alert.hide-alert {
  opacity: 0;
  pointer-events: none;
}

.alert .icon {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.alert-success {
  border-left: 2px solid #20bf6b;
}

.alert-success .icon {
  color: #20bf6b;
}

.alert-error {
  border-left: 2px solid #eb4d4b;
}

.alert-error .icon {
  color: #eb4d4b;
}

.favourites {
  height: calc(100dvh - 75px);
  overflow: auto;
}

.favourites-container {
  padding: 2rem;
  color: #fff;
}

.favourites-container h1,
.favourites-container h2 {
  font-weight: 400;
  margin-top: 0;
}

.favourites-container .button {
  display: block;
  height: 50px;
  width: 130px;
  border-radius: 0.5rem;
  background-color: #0088ff;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favourites-container-2 {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.fav-title {
  font-weight: 400;
  margin-top: 2rem;
  margin-left: 2rem;
  color: #fff;
}

.fav-el {
  height: 250px;
  border: 1px solid #0088ff;
  position: relative;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
}

.fav-el::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.7231267507002801) 0%,
    rgba(0, 0, 0, 0.08727240896358546) 25%,
    rgba(255, 255, 255, 0) 100%
  );
}

.fav-el-info {
  font-size: 0.9rem;
  color: #fff;
  padding: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: auto 70px;
  justify-content: space-between;
  z-index: 1;
}

.fav-el-info-name {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fav-el-info-details {
  margin-left: auto;
}

/* Messages  */

.messages-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  color: #fff;
  overflow-y: auto;
  margin-bottom: 72px;
}

.messages-header {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
}

.messages-menu {
  display: flex;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  background-color: #212121;
  border-radius: 100%;
  margin-right: 0.75rem;
  border: 1px solid #0088ff;
  color: #0088ff;
}

.messages-header h2 {
  margin: 0;
  font-weight: 500;
}

.contact-request-info {
  margin: 1rem 0rem;
}

.messages-searchbar {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  margin-top: 1rem;
  width: 100%;
  height: 40px;
  background-color: #212121;
  border-radius: 2rem;
  border: 1px solid #0088ff;
  color: #0088ff;
  cursor: pointer;
}

.messages-searchbar span {
  margin-left: 0.75rem;
}

.messages-chats {
  margin-top: 1rem;
}

.new-messages {
  font-weight: 700;
}

.messages-chats-el {
  display: grid;
  grid-template-columns: 70px auto;
  grid-template-rows: 70px;
  width: 100%;
  margin-top: 1rem;
}

.messages-chats-el-img {
  height: 100%;
  min-width: 70px;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  border: 1px solid #0088ff;
  position: relative;
}

.messages-chats-el-img .online-bubble {
  position: absolute;
  height: 15px;
  width: 15px;
  bottom: 0;
  right: 0;
  border-radius: 100%;
  border: 0.15rem #14161a solid;
  background-color: #20bf6b;
}

.messages-chats-el-img .offline-bubble {
  position: absolute;
  height: 15px;
  width: 15px;
  bottom: 0;
  right: 0;
  border-radius: 100%;
  border: 0.15rem #14161a solid;
  background-color: gray;
}

.messages-chats-el-info {
  display: grid;
  grid-template-areas:
    "name unread-messages"
    "message time";
  padding: 0.5rem 0 0.5rem 0.5rem;
  width: 100%;
}

.info-name {
  font-size: 1.1rem;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid-area: name;
}

.info-undread-messages {
  display: flex;
  width: 23px;
  height: 23px;
  border-radius: 100%;
  margin-left: auto;
  background-color: #0088ff;
  font-size: 0.75rem;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  align-self: center;
  grid-area: unread-messages;
}

.info-message {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: min-content;
  grid-area: message;
}

.info-time {
  text-align: right;
  min-width: fit-content;
  grid-area: time;
}

.mobile-menu-darkening {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 2;
  background-color: #000;
}

.mobile-menu {
  position: absolute;
  height: 100%;
  width: 80%;
  background-color: black;
  z-index: 2;
  padding: 1rem;
  color: #fff;
}

.mobile-menu-header {
  display: flex;
  align-items: center;
}

.mobile-menu-header-img {
  height: 45px;
  width: 45px;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
}

.mobile-menu-header span {
  margin-left: 1rem;
  font-weight: 500;
}

.mobile-menu-submenus {
  margin-top: 1rem;
}

.mobile-menu-submenus .active {
  background-color: #212121;
}

.mobile-menu-submenu-el {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
}

.mobile-menu-submenu-el-icon {
  padding: 0.6rem 0.9rem;
  border-radius: 1rem;
  background-color: #444;
}

.mobile-menu-submenu-el-text {
  margin-left: 1rem;
}

/* Friend Request */

.friendReq-header h2 {
  font-size: 1.3rem;
}

.friend-nav {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.friend-nav div {
  padding: 0.1rem 1rem;
  border-radius: 1rem;
  font-weight: 500;
  cursor: pointer;
  opacity: 0.7;
}

.friend-nav .active {
  background-color: #14161a;
  opacity: 1;
}

.friends-list-header h2 {
  margin-bottom: 0;
}

.friends-list-header p {
  margin: 0;
  opacity: 0.8;
}

.friend-list-el {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  width: 100%;
}

.friend-list-el-info {
  display: grid;
  grid-template-columns: 75px auto;
  align-items: center;
  font-size: 1.25rem;
}

.friend-list-el-img {
  height: 75px;
  width: 75px;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  border: 1px solid #0088ff;
  position: relative;
}

.friend-list-el-img .online-bubble {
  position: absolute;
  height: 20px;
  width: 20px;
  bottom: 0;
  right: 0;
  border-radius: 100%;
  border: 0.15rem #14161a solid;
  background-color: #20bf6b;
}

.friend-list-el span {
  margin-left: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ---------------------------- */

.friend-request-el {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  width: 100%;
}

.friend-request-el-info {
  display: grid;
  grid-template-columns: 45px auto;
  align-items: center;
}

.friend-request-el-img {
  height: 45px;
  width: 45px;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
}

.friend-request-el span {
  margin-left: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.accept-options {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
}

.accept-options div {
  text-align: center;
  width: 100%;
  padding: 0.3rem 0.5rem;
  border-radius: 1rem;
}

.accept-request {
  background-color: #444;
}

.decline-request {
  background-color: #ff4d4f;
}

/* Chat  */

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.chat-header {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  font-size: 1.25rem;
  border-bottom: 2px solid #000;
}

.chat-header-img {
  height: 45px;
  width: 45px;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  position: relative;
}

.chat-header-info .name {
  font-size: 1rem;
}

.chat-header-info {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
}

.chat-header-img .online-bubble {
  position: absolute;
  height: 12px;
  width: 12px;
  bottom: 0;
  right: 0;
  border-radius: 100%;
  border: 0.15rem #14161a solid;
  background-color: #20bf6b;
}

.chat-messages {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  padding: 0.5rem;
  overflow-y: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.chat-messages::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.chat-messages-not-approved {
  color: #fff;
  text-align: center;
  padding: 0 1rem;
}

.chat-messages-time {
  text-align: center;
  background-color: #333333;
  color: #fff;
  width: fit-content;
  margin: 1rem auto;
  padding: 0.2rem 2rem;
  font-size: 0.9rem;
  border-radius: 1rem;
}

.chat-bubble {
  color: #fff;
  background-color: #333;
  max-width: 75%;
  width: fit-content;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  margin-top: 0.25rem;
  word-break: break-word;
}

.first-of-friend {
  margin-top: 0.75rem;
  position: relative;
  border-radius: 0px 0.5rem 0.5rem 0.5rem;
}

.first-of-friend::before {
  content: "";
  position: absolute;
  top: 0;
  left: -6px;
  border-top: 10px solid #333;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.first-of-me {
  margin-top: 0.75rem;
  position: relative;
  border-radius: 0.5rem 0px 0.5rem 0.5rem;
}

.first-of-me::before {
  content: "";
  position: absolute;
  top: 0;
  right: -6px;
  border-top: 10px solid #0088ff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.chat-bubble p {
  margin: 0;
}

.message-time {
  opacity: 0.7;
  font-size: 0.75rem;
  text-align: right;
}

.message-read {
  margin-left: 0.25rem;
  font-size: 0.85rem;
  opacity: 1;
}

.message-not-read {
  font-size: 0.85rem;
  margin-left: 0.25rem;
  opacity: 0.5;
}

.your-message {
  align-self: flex-end;
  background-color: #0088ff;
  text-align: right;
}

.chat-input-area {
  display: flex;
  gap: 0.25rem;
  padding: 0.25rem;
}

.chat-input {
  border-radius: 2rem;
  padding-left: 1.25rem;
  font-size: 1.2rem;
  width: 100%;
  background-color: #404040;
  color: #fff;
  border: none;
}

.send-button {
  background-color: #0088ff;
  border: 1px solid black;
  font-size: 1.25rem;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  cursor: pointer;
}

/* Chat Search Bar */

.chat-search-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #212121;
  padding: 1rem;
  color: #fff;
}

.chat-search-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.chat-search-header .icon {
  font-size: 1.5rem;
}

.chat-search-header input {
  background-color: #212121;
  border: none;
}

.chat-search-header input:focus {
  border: none;
}

.chat-search-results {
  margin-top: 1rem;
}

.chat-search-results-title {
  opacity: 0.6;
  font-weight: 500;
}

.chat-search-results-el {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.chat-search-results-el-img {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
}

.chat-search-results-el-name {
  font-weight: 500;
}

.chat-search-results-group {
  margin-top: 1rem;
}

/* PROFILE  */

.profile-header {
  font-size: 1.5rem;
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.profile-img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
}

.profile-name {
  font-size: 1.5rem;
  font-weight: 500;
}

.profile-options {
  display: flex;
  gap: 1rem;
}

.profile-options div {
  text-align: center;
  min-width: 135px;
  border: 1px solid #0088ff;
  color: #0088ff;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: #14161a;
  cursor: pointer;
}
